body {
    background-color: #FCC8B2;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://www.transparenttextures.com/patterns/asfalt-light.png');
    opacity: 3.5;
    pointer-events: none;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    background: url('images/bg1.png') no-repeat center center/cover;
    z-index: -1;
}

.scrolled .bg {
    height: 0;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    position: relative;
    z-index: 1;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #235789;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    transition: 0.5s;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #82D4BB;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #FCC8B2;
    background-color: #10304D;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
    margin-left: 10px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #235789;
    color: #82D4BB;
    padding: 10px 15px;
    border: 2px solid;
    border-radius: 8px;
    border-color: #82D4BB;
}

.openbtn:hover {
    background-color: #10304D;
    color: #FCC8B2;
}

#main {
    transition: margin-left 0.5s, width 0.5s;
    padding: 16px;
    position: relative;
    z-index: 1;
    width: 100%;
}

.project-container {
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
    max-width: 900px; 
    margin-left: auto;
    margin-right: auto;
}

.project-image img {
    max-width: 100%;  
    height: auto;  
    width: auto;
}  

.button-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-left: -60px;
    margin-right: auto;
}

.btn {
    display: block;
    width: 300px;
    padding: 50px;
    font-size: 16px;
    border: 2px solid;
    border-color: #82D4BB;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    background-color: #9BC0C1;
    font-weight: bold;
}

.btn:hover {
    background-color: #10304D;
    color: white;
}

.back-button {
    display: flex;
    justify-content: center;
    margin-left: -60px;
    margin-right: auto;
}

.back-button img {
    max-width: 15%;  
    height: auto;  
    width: auto;
    margin-left: 40px;
    margin-top: 20px;
}

.back-button button {
    display: flex;
    background: none; /* Removes the white background */
    border: none; /* Removes the default button border */
    padding: 0; /* Removes extra spacing */
    cursor: pointer;
    transition: all 0.3s ease;
}

.back-button button:hover img {
    filter: brightness(70%); /* Darkens the image on hover */
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.text {
  color: #fff;
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background-color: rgba(0,0,0,0.5);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.mySlides img {
    width: 1025px;
}